{% extends 'common/base.html' %}

{% block content %}
<div id="album-detail">
  <h1>"{{ album.title }}" Album</h1>
  <div>
    <span>owner: {{ album.owner.email }}</span>
    {% if album.description %}
    <span>| description: {{ album.description }}</span>
    {% endif %}
  </div>
  <a href="{% url 'photo:upload' album_pk=album.pk %}" class="btn btn-primary btn-sm btn-top-right">
    <span class="glyphicon glyphicon-plus"></span>
    Add Photo
  </a>

  <div class="photo-list">
    {% for photo in album.photo_set.all %}
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="{{ photo.img_thumbnail.url }}" alt="">
        <div class="caption">
          <div>
            {{ photo.title }}
          </div>
          <div>
            <span>owner: {{ photo.owner.email }}</span>
          </div>
          <div class="like-container">
            <form action="{% url 'photo:photo_like' pk=photo.pk like_type='like' %}" method="post" class="like-form">{% csrf_token %}
                <button class="btn label
                    {% if user in photo.like_users.all %}label-info
                    {% else %}label-default
                    {% endif %}"
                    type="submit">
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                  <span>{{ photo.like_users.count }}</span>
                </button>
            </form>
            <form action="{% url 'photo:photo_like' pk=photo.pk like_type='dislike' %}" method="post" class="like-form">{% csrf_token %}
                <button class="btn label
                    {% if user in photo.dislike_users.all %}label-danger
                    {% else %}label-default
                    {% endif %}"
                    type="submit">
                  <span class="glyphicon glyphicon-thumbs-down"></span>
                  <span>{{ photo.dislike_users.count }}</span>
                </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
